.main-container {
  display: flex;
  flex-direction: column;
}

.total-current {
  display: flex;
}

.calculator {
  width: 66vw;
  height: 76vh;
  margin: 0 auto;
  background-color: #c0ddfa;
  color: #3a0f0f;
  border: 6px solid #2c3e50;
  border-radius: 10px;

  display: grid;
  grid-template:
    repeat(5, 1fr) / repeat(4, 1fr);
  margin-bottom: 20px;
}
.wide-buttons {
  grid-column: span 1;
  //background-color: #c0ddfa;
}


@media (min-width: 901px)  {
  .wide-buttons {
    grid-column: span 2;
  }
}

@media (max-width: 900px) {
  .calculator {
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
    background-color: #c0ddfa;
    color: #3a0f0f;
    border: 3px solid #2c3e50;
    border-radius: 5px;

    display: grid;
    grid-template:
      repeat(6, 1fr) / repeat(3, 1fr);
    margin-bottom: 10px;
  }

  .calcbox {
    font-size: 3em;
  }

  .total-box.calcbox {
    font-size: 2em;
  }
}


@media (max-width: 1200px) and (min-width: 901px) {
  .total-box.calcbox {
    font-size: 2.5em;
  }

}

.calcbox {
  background-color: #c0ddfa;
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;

  &__pressed {
    border: 6px solid red;
  }

  &:hover {
    background-color: white;
  }

  &:active {
    background-color: rgb(95, 104, 136);
  }
}

.staged-operation {
  background-color: lightyellow;
  border-radius: 20px;
  padding: 10px;
  margin: 15px;
}

.total-box {
  background-color: #c0ddfa;
  color: #3a0f0f;
  border: 6px solid #2c3e50;
  //justify-content: space-between!important;
  align-items: space-between;
  margin-bottom: 5px;
  min-height: 160px;
/*
  &:hover {

    background-color: #c0ddfa;
  }
*/
}

.item {
  padding: 10px;
}

.fade-inline {
  display: inline;
}

.calcbox.total-box {
  justify-content: space-between;
}